.overlay-lottie{
    position: fixed;
    /* height: 400px; */
    overflow: hidden;
    z-index: -1;
    
}
.overlay-lottie::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.682);
}

.about{
  

}
.content-about{
    animation: upDiv 1s forwards linear;
    transform: translateY(150px);
}

.content-about h1{
    font-size: var(--font-size-xxl);
    font-weight: 600;
    color: var(--blue_1);
    text-transform: uppercase;
}
.content-about h3{
    font-size: var(--font-size-xs);
    font-weight: 600;
}
.content-about p{
    font-size: var(--font-size-xs);
}
@keyframes upDiv {
    from{
        transform: translateY(150px);
    }to{
        transform: translateY(0);
    }
}

/* @ Media */
@media (max-width: 1200px) {


}
@media (max-width: 1200px) {

}
@media (max-width: 1000px) {

}
@media (max-width: 900px) {

}
@media (max-width: 800px) {

}
@media (max-width: 700px) {

}
@media (max-width: 600px) {

}
@media (max-width: 500px) {
    
}
@media (max-width: 450px) {
    
}
@media (max-width: 340px) {

}