/* For cards */
.pages h1{
    font-size: var(--font-size-xxl) !important;
    font-weight: 600;
    color: var(--blue_1);
    line-height: 2.5rem;
}

.card p{
    font-size: var(--font-size-xs);
}
.card h3{
    font-size: var(--font-size-l);
    font-weight: 600;
    text-transform: capitalize;
}
.container-cards{
    display: flex;
}
.card{
    width: 50%;

}
.content-card{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background:  linear-gradient(
        rgba(159, 158, 158, 0.089),
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.089)
    );
    border-radius: 20px;
}
.content-card::after{
    content: "";
    border-radius: 20px;
    transition: 0.5s;
    position: absolute;
}

.content-card:hover::after{
    inset: 0;
    background:  linear-gradient(
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.089)
    );
    transform: scale(0.95);
    z-index: -5;
}
.card h2{
    font-size: var(--font-size-xl);
    font-weight: 600;
    /* text-transform: capitalize; */
    color: var(--blue_1);
}
.card p{
    font-size: var(--font-size-xs);
}
.card path{
    fill: var(--blue_1);
}
.des-pages{
    font-weight: 500;
}
.sub-title{
    color: var(--grey_1);
}
.card li{
    position: relative;
    padding-left: 20px;
    font-size: var(--font-size-xxs);
}
.card li::before{
    content: "✔"; /* Unicode checkmark */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    font-size: 14px;
    color: var(--blue_2);
    
}

/* Pages */
.pages svg{
    width: 50px;
}
/* Robot Card */

.container-image-abs{
    position: relative;
    height: 50px;
}
.container-image-abs img{
    position: absolute;
    right: -100px;
    bottom: -150px;
    height: 500px;
}
.first-path{
    font-weight: 600;
    font-size: var(--font-size-xs);
}
.second-path{
    font-weight: 500;
    font-size: var(--font-size-xs);
    color: var(--grey_2);
}
.robot-card li{
    position: relative;
    padding-left: 0 !important;
    width: 200px;
    color: var(--blue_1); 
    font-weight: 500;

}
.robot-card li::before {
  content: "" !important;
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--light), var(--grey_4));
  border-radius: 10px;
  z-index: -1;
  opacity: 0.8;
  filter: blur(3px);
  animation: loopGlow 0.5s forwards ease-in-out;
}

@keyframes loopGlow {
  0% {
    transform: scale(0.5) ;
    /* opacity: 0; */
  }
  100% {
    transform: scale(1);
    /* opacity: 0; */
  }
}
.robot-card h1{
    font-size: var(--font-size-3xl);
    font-weight: 600;
    color: var(--blue_1);
    line-height: 3rem;
}
.robot-card P{
    font-size: var(--font-size-s);
    color: var(--grey_2);
}
.robot-card .des{
    width: 70%;
    font-size: var(--font-size-s);
}
.des h3{
    font-size: var(--font-size-s);
    font-weight: 600;
}
.des p{
    font-size: var(--font-size-xs);
}
.des li{
    position: relative;
    padding-left: 30px;
    font-size: var(--font-size-xs);
}
.des li::before{
    content: "✔"; /* Unicode checkmark */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    font-size: 25px;
    color: var(--blue_2);
    
}
.path{
    position: relative;
}
.path::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: var(--blue_4);
    left: 0;
    bottom: -10px;
}
/* Blog */
.blog-details img{
    border-radius: 10px;
}
.blog-first{
    width: 65%;
}
.blog-first img{
    width: 100%;
    object-fit: cover;
    height: 400px;
}
.blog-second{
    width: 35%;
    /* position: relative; */
    
}
.blog-second h2{
    font-size: var(--font-size-s);
    font-weight: 500;
    color: var(--blue_1);
}
.blog-second h3 {
    font-size: var(--font-size-xxs);
    font-weight: 500;
}
.blog-second p{
    font-size: var(--font-size-xxs);
}
.blog-second .date{
    color: var(--grey_3);
    font-size: var(--font-size-xxs);
}
.content-sticky{
    position: sticky;
    top: 100px;
}
.content-first{
    width: 40%;
}
.content-second{
    width: 60%;
}
.side-blog:hover h3{
    color: var(--blue_1);
}

.card-sperate{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background:  linear-gradient(
        rgba(159, 158, 158, 0.089),
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.089)
    );
    border-radius: 20px;
}
.contact-card{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background:  linear-gradient(
        rgba(159, 158, 158, 0.089),
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.089)
    );
    border-radius: 20px;
}

.card-sperate::after{
    content: "";
    border-radius: 20px;
    transition: 0.5s;
    position: absolute;
}
.card-sperate svg{
    width: 40px;
}
.card-sperate path{
    fill: var(--blue_1);
}
.card-sperate:hover::after{
    inset: 0;
    background:  linear-gradient(
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.089)
    );
    transform: scale(0.92);
    z-index: -5;
}
.content-sperate ul li{
    position: unset !important;
    width: 180px;
    height: 130px;
    background : linear-gradient(
        rgba(159, 158, 158, 0.296),
        rgba(255, 255, 255, 0.749),
        rgba(159, 158, 158, 0.296));
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.content-sperate ul li::before{
    content: unset !important;
}

/* Layout */
.layout,.layout-details {
   margin-top: -170px;
}
.layout h1{
    color: var(--blue_1);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.layout h2{
    font-size: var(--font-size-l);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.layout-one{
    border-bottom-left-radius: 30% !important;
    border-top-right-radius: 30% !important;
}
.layout-two{
     border-top-left-radius: 30% !important;
    border-bottom-right-radius: 30% !important;   
}
.layout p{
    font-size: var(--font-size-xs);
}
.first-image-container{
    width: 50%;
}
.layout img{
    height: 300px ;
    width: 500px ;
}






.container-about{
    display: flex;
}
.container-about img{
   object-fit: cover;
}
/* Pop-up */
.pop-up{
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.2);
    background-color: var(--light);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.629);
    border-radius: 20px;
    z-index: 1000;
    animation: pop forwards 0.3s linear;
}
.pop-up button{
    background-color: var(--blue_3);
    color: var(--light);
    font-size: var(--font-size-xs);
}
.pop-up button:hover{
    color: var(--blue_3);
    background-color: var(--light); 
}
@keyframes pop {
    from{
        transform: translate(-50%,-50%) scale(0.2);
    }to{
         transform: translate(-50%,-50%) scale(1);
    }
}
/* @ Media */

@media (max-width: 1200px) {

}
@media (max-width: 1030px) {
    .container-image-abs img{
        position: absolute;
        right: -100px;
        bottom: -100px;
        height: 400px;
    }
    .robot-card li{
        width: 100%;
    }
    /* layout */
    .container-about{
        flex-direction: column;
    }
    .first-image-container,.first-image-container img{
        width: 100%;
    }
}
@media (max-width: 900px) {
    .container-cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .blog-details{
        flex-direction: column;
    }
    .blog-first, .blog-second{
        width: 100% !important;
    }
    .layout,.layout-details {
        margin-top: -220px;
    }
    .blog-second{
        padding:  0 !important;
    }

}
@media (max-width: 820px) {


}
@media (max-width: 700px) {
    .container-image-abs img{
        position: absolute;
        right: -80px;
        bottom: -80px;
        /* height: 300px; */
    }
    .robot-card .des{
        width: 65%;
    }
    .robot-card ul{
        width: 90%;
    }
    .blog-first img{
        height: 300px;
    }
    .blog-first h1{
        font-size: var(--font-size-xl);
    }
    .pop-up{
        width: 500px;
    }

}
@media (max-width: 600px) {
    .robot-card h1{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .first-image-container img{
        width: 100% !important;
    }
    .layout img{
        height: 250px;
        width: 400px;
    }
}
@media (max-width: 510px) {
    .container-image-abs{
        display: none;
    }

    .robot-card{
        height: fit-content;
    }
    .des{
        width: 100% ;
        font-size: var(--font-size-xs);
    }
    .robot-card ul{
        width: 100%;
    }
    .content-card:hover::after{
        transform: scale(0.98);
    }
    .pop-up{
        width: 400px;
    }
}
@media (max-width: 450px) {
    .pages h1{
        font-size: 1.7rem !important;
        line-height: 2rem;
    }
     .layout img{
        height: 200px;
    }
    .pop-up{
        width:95%;   
    }
}
@media (max-width: 340px) {

}